.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
    border-radius: 30px;
    
}

.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 1px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-products{
    font-size: 24px;
    margin-top: 50px;
    margin-left: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px; 
    row-gap: 50px;
    align-items: center;
}